body { 
	background-color: #fff;
        font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size:small; line-height: 150%;
}

a { 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

h1 { 
	text-align: center; 
}

code, pre {
	font-family: "Courier New", Courier, monospace;
	font-size: small;
}

.menu {
	width: 20%;
	position: absolute;
	background-color: #f5f8fc;
	border: 1px solid #69c;
	padding: 1px 1ex;
	margin: 1ex 1ex;
}

.text {
	width: 75%;
	position: absolute;
	color: #000;
	line-height: 150%;
	margin: 0 0 0 25%;
}

